.carousel-inner,
.carousel,
.carousel-item,
.container-fluid,
.fill {
  height: 100%;
  width: 100%;
  background-position: center center;
  background-size: cover;
}
.vertical-slide-wrapper {
  display: inline;
}
.vertical-slide-wrapper .container-fluid {
  padding: 0px;
  width: 100%;
  height: 100vh;
}

.vertical-slide-wrapper .inner-content {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.vertical-slide-wrapper .inner-content .top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vertical-slide-wrapper .inner-content .bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8em;
  margin-bottom: 4em;
}

.vertical-slide-wrapper .inner-content .bottom h5 {
  margin: 0 12px;
}

.vertical-slide-wrapper .carousel-item h4 {
  margin: 0 12px;
}
/*------------------------------ vertical bootstrap slider----------------------------*/

.vertical-slide-wrapper .carousel-item-next.carousel-item-left,
.vertical-slide-wrapper .carousel-item-prev.carousel-item-right {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.vertical-slide-wrapper .carousel-item-next,
.vertical-slide-wrapper .active.carousel-item-right {
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100% 0);
}

.vertical-slide-wrapper .carousel-item-prev,
.vertical-slide-wrapper .active.carousel-item-left {
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}

/*------------------------------- vertical carousel indicators ------------------------------*/
.vertical-slide-wrapper .carousel-indicators {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 20px;
  right: 10px;
  left: auto;
  display: block;
  width: auto;
}
.vertical-slide-wrapper .carousel-indicators li {
  width: 8px;
  height: 8px;
  display: block;
  margin-bottom: 5px;
  border: 1px solid #c7c7c7;
  border-radius: 50%;
}
.vertical-slide-wrapper .carousel-indicators li::before {
  height: 100%;
  top: 0;
}
.vertical-slide-wrapper .carousel-indicators li::after {
  height: 100%;
  bottom: 0px;
}
.vertical-slide-wrapper .carousel-indicators li.active {
  margin-bottom: 5px;
  background: #c7c7c7;
}

.carousel-indicators li {
  background-color: rgba(255, 255, 255, 0.2);
}

@media (max-width: 991px) {
  .vertical-slide-wrapper .carousel-item .carousel-desc,
  .vertical-slide-wrapper .carousel-item.item3 .carousel-desc {
    text-align: center;
  }
  .vertical-slide-wrapper .carousel-item .carousel-desc p {
    width: 80%;
  }
  .vertical-slide-wrapper .item3 .col-md-6 {
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .vertical-slide-wrapper .carousel-item .carousel-img img,
  .vertical-slide-wrapper .carousel-item.active .carousel-img img {
    max-height: 155px;
  }
  .vertical-slide-wrapper .carousel-item h2 {
    font-size: 30px;
    margin-top: 0px;
  }
  .vertical-slide-wrapper .carousel-item .carousel-desc p {
    width: 100%;
    font-size: 12px;
  }
}
@media (max-width: 480px) {
  .vertical-slide-wrapper .carousel-item h2 {
    font-size: 30px;
  }
  .vertical-slide-wrapper .carousel-item .carousel-desc p {
    width: 100%;
  }
  .vertical-slide-wrapper .carousel-item h3 {
    font-size: 20px;
  }
  .vertical-slide-wrapper .carousel-item h4 {
    font-size: 18px;
  }
  .vertical-slide-wrapper .carousel-item h1 {
    font-size: 24px;
  }
}

.features-slide-wrapper {
  padding-top: 8em;
  padding-bottom: 10em;
  background: #eee;
}

.features-slide-wrapper h4 {
  margin-bottom: 4em;
  text-align: center;
}

/*------------------------------- features carousel indicators ------------------------------*/
.features-slide-wrapper .carousel-indicators {
  position: absolute;

  bottom: -80px;
  margin: auto;
  height: 20px;
  right: 0;
  left: 0;

  width: auto;
}
.features-slide-wrapper .carousel-indicators li {
  width: 8px;
  height: 8px;
  display: block;
  margin-bottom: 5px;
  border: 1px solid #c7c7c7;
  border-radius: 50%;
}
.features-slide-wrapper .carousel-indicators li::before {
  height: 100%;
  top: 0;
}
.features-slide-wrapper .carousel-indicators li::after {
  height: 100%;
  bottom: 0px;
}
.features-slide-wrapper .carousel-indicators li.active {
  margin-bottom: 5px;
  background: #c7c7c7;
}

.works-slide-wrapper {
  padding-top: 8em;
}

.works-slide-wrapper h4 {
  margin-bottom: 2em;
  text-align: center;
}

.works-slide-wrapper .filter-button {
  font-size: 16px;
  border-radius: 5px;
  text-align: center;
  font-weight: 500;
  margin-bottom: 30px;
  background: transparent;
}
.works-slide-wrapper .filter-button:hover,
.works-slide-wrapper .filter-button.active {
  color: #ffffff;
  background-color: #42b32f;
}
.works-slide-wrapper .btn-default:active .filter-button:active {
  background-color: #42b32f;
  color: white;
}

.works-slide-wrapper .port-image {
  width: 100%;
}

.works-slide-wrapper .gallery_product {
  padding: 0;
  background-image: url(http://fakeimg.pl/365x365/);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 20em;
  position: relative;
  overflow: hidden;
}
.works-slide-wrapper .gallery {
  margin-top: 4em;
}

.works-slide-wrapper .card-hover {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(40, 190, 168, 0.9);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  flex-direction: column;
  box-sizing: border-box;
  padding: 30px;
  -webkit-transition: ease-in-out 0.2s;
  -moz-transition: ease-in-out 0.2s;
  -ms-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}
.team-slide-wrapper {
  padding-top: 8em;
  padding-bottom: 8em;
}
.team-slide-wrapper > .container > h4 {
  margin-bottom: 2em;
}
.team-slide-wrapper > .container {
  margin-bottom: 4em;
}

/*------------------------------- team carousel indicators ------------------------------*/
.team-slide-wrapper .carousel-indicators {
  position: absolute;

  bottom: -80px;
  margin: auto;
  height: 20px;
  right: 0;
  left: 0;

  width: auto;
}
.team-slide-wrapper .carousel-indicators li {
  width: 8px;
  height: 8px;
  display: block;
  margin-bottom: 5px;
  border: 1px solid #c7c7c7;
  border-radius: 50%;
}
.team-slide-wrapper .carousel-indicators li::before {
  height: 100%;
  top: 0;
}
.team-slide-wrapper .carousel-indicators li::after {
  height: 100%;
  bottom: 0px;
}
.team-slide-wrapper .carousel-indicators li.active {
  margin-bottom: 5px;
  background: #c7c7c7;
}

.team-slide-wrapper .carousel-item {
  text-align: center;
}
.team-slide-wrapper .carousel-item h6 {
  margin-top: 1em;
}
